/* HomePage.css */

.home-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Siguron që faqja të mbushë tërë lartësinë e ekranit */
}

    .home-page > .footer {
        margin-top: auto; /* Kjo i jep mundësinë footer-it të pozicionohet në fund */
    }

.footer {
    width: 100%;
    text-align: center;
    background-color: rgb(116, 125, 143);
    padding: 20px 0;
    font-palette: 'Times New Roman';
}

    .footer p {
        margin: 0;
        font-size: 14px;
        color: #fff;
    }
